<mat-toolbar class="eui-color">
    <!-- <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <img class="brand-logo" [src]="imageSrc" [alt]="imageAlt" routerLink="/">
    <div fxFlex fxLayout fxLayoutAlign="end">
        <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon" routerLink="/login">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>    
</mat-toolbar>