table {
    width: 100%;
 }
 .cursor-pointer {
     cursor: pointer;
 }
.parts-inv-header {
    font-size: 15px !important;
}
tr.batch-details-row {
    height: 0;
}

tr.batch-details-element-row:not(.batch-expanded-row):hover {
    background: #f4fceb;
}

tr.batch-details-element-row:not(.batch-expanded-row):active {
    background: #f4fceb;
}

.no-border-bottom-width {
    border-bottom-width: 0;
}
.batch-details {
    overflow: hidden;
    display: flex;
}


.inner-table {
    width: 100%;
}
  