<iams-header flexLayout="column" (sidenavToggle)="sidenav.toggle()"></iams-header>
<mat-sidenav-container >
    <mat-sidenav #sidenav role="navigation">
        <iams-sidenav (sidenavClose)="sidenav.close()"></iams-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <main flexLayout="column">
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<iams-footer flexLayout="column"></iams-footer>