<iams-header flexLayout="column"></iams-header>
<mat-sidenav-container >
    <mat-sidenav  role="navigation">
    </mat-sidenav>
    <mat-sidenav-content>
        <main flexLayout="column">
       

            <div fxFlex="5%">
                <iams-sidenav ></iams-sidenav>
            </div>
            <div fxFlex="95%">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<iams-footer flexLayout="column"></iams-footer>