<iams-header flexLayout="column"></iams-header>
<div flexLayout="row" fxFlex>
    <div fxFlex="20">
        <iams-sidenav fxFlex></iams-sidenav>
    </div>
    <div fxFlex="80" class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<iams-footer flexLayout="column"></iams-footer>
<!-- <iams-header flexLayout="column"></iams-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<iams-footer flexLayout="column"></iams-footer> -->