<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" *ngIf="batchDetails" class="p-v-20">
  <ng-container *ngFor="let batch of batchDetails | keyvalue">
    <div fxFlex="30%">
        <div fxFlex="45%" class="label">
            {{batch.key}}
        </div>
        <div fxFlex="10%">:</div>
        <div fxFlex="45%">
          {{batch.value}}
        </div>
    </div>
  </ng-container>
</div>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-end">
  <button  mat-raised-button color="primary">Flag as Surplus</button>
  <button  mat-raised-button color="green">Raise Quotation</button>
  <button  mat-raised-button color="grey">Email</button>
  <button  mat-raised-button color="secondary">Technical Document</button>
  <button  mat-raised-button color="warn">Close</button>
</div>