.mat-row:nth-child(even){
    background-color:white;
    }

.mat-row:nth-child(odd){
    background-color:#abe2f08a;
}
.sales-his-header {
    font-size: 15px !important;
    color: white;
}
.mat-header-row {
    background: #6C7AE0;
}