table {
    width: 100%;
 }
 .cursor-pointer {
     cursor: pointer;
 }
.parts-inv-header {
    font-size: 15px !important;
    color: white;
}
tr.batch-details-row {
    height: 0;
}

tr.batch-details-element-row:not(.batch-expanded-row):hover {
    background: #f4fceb;
}

tr.batch-details-element-row:not(.batch-expanded-row):active {
    background: #f4fceb;
}

.no-border-bottom-width {
    border-bottom-width: 0;
}
.batch-details {
    overflow: hidden;
    display: flex;
}

.inner-table {
    width: 100%;
}
.mat-sort-header-container {
    color: white !important;
}
.mat-header-row {
    background: #6C7AE0;
}
.btn-batch-view {
    background: rebeccapurple;
}
.mat-header-cell{
    color: white;
}
.mat-green{
    background-color:#4A9D45;
    color:#FFFFFF;
}