table {
    width: 100%;
    
 }
 .cursor-pointer {
     cursor: pointer;
 }
.parts-inv-header {
    font-size: 15px !important;
    font-weight: bold;
    color: white;
}
tr.batch-details-row {
    height: 0;
}

tr.batch-details-element-row:not(.batch-expanded-row):hover {
    background: #f4fceb;
}

tr.batch-details-element-row:not(.batch-expanded-row):active {
    background: #f4fceb;
}

.no-border-bottom-width {
    border-bottom-width: 0;
}
.batch-details {
    overflow: hidden;
    display: flex;
}

.inner-table {
    width: 100%;
}
.mat-sort-header-container {
    color: white !important;
}

.btn-batch-view {
    background: rebeccapurple;
}
.mat-header-cell{
    color: #000000;
}
.mat-green{
    background-color:#4A9D45;
    color:#FFFFFF;
}
.btn-success {
    color: #fff;
    background-color: rgb(25, 78, 130) !important;
    border-color: rgb(25, 78, 130);
}
.btn-success:hover {
    color: #fff;
    background-color: rgb(25, 78, 130, 0.9) !important;
    border-color: rgb(25, 78, 130, 0.9) !important;
}
.mat-red{
    background-color: #fff;
    color:#C00000;
    border: 1px solid #C00000;
}
.mat-red-primary{
    background-color: #C00000;
    color:#fff;
   
}
.table-link{
    font-weight:500;
    text-decoration: underline;
    cursor: pointer;
}
.table-border{
    border:1px solid #A8A8A8;
}
.p-t-20{
    padding-top:20px;
}