.mat-green{
    background-color:#4A9D45;
    color:#FFFFFF;
}

.mat-yellow{
    background-color:#eebb4d;
    color:#FFFFFF;
}
.row{
    padding-top:10px;
    padding-bottom:10px;
}
.center {
    display: flex;
    justify-content: center;
}