<div class="part-dialog">
    <h2 mat-dialog-title *ngIf="data && data?.surplusFlag">Unflag as Surplus</h2>
    <h2 mat-dialog-title *ngIf="data && !data?.surplusFlag">Flag as Surplus</h2>
    <mat-dialog-content class="mat-typography" style="background: whitesmoke;">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Material Serial No</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.materialSerialNumber}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Storage Location</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.storageLocation}}</div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Batch No</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.batchNo}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Quantity</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.quantity}}</div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Qi Batch No</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.qiBatchNo}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Condition</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.condition}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">Plant</div>
            <div class="col-sm-2">:</div>
            <div class="col-sm-5">{{data.plant}}</div>
          </div>
        </div>
      </div>
      <div class="row center">
        <textarea id="reason" name="reason" placeholder="Reason" rows="4" cols="50" [(ngModel)]="reason">
        </textarea>
      </div>
          
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="center">
        <button mat-button mat-dialog-close color="yellow">Cancel</button>
        <button  mat-raised-button *ngIf="data && data?.surplusFlag && reason != '' " color="green" mat-dialog-close>Unflag as Surplus</button>
        <button  mat-raised-button *ngIf="data && data?.surplusFlag && reason === '' " disabled mat-dialog-close>Unflag as Surplus</button>
        <button  mat-raised-button *ngIf="data && !data?.surplusFlag && reason != '' " color="green" mat-dialog-close>Flag as Surplus</button>
        <button  mat-raised-button *ngIf="data && !data?.surplusFlag && reason === '' " disabled mat-dialog-close>Flag as Surplus</button>
    </mat-dialog-actions>
</div>
