<div class="part-dialog">
    <h2 mat-dialog-title>Batch Part Details</h2>
    <mat-dialog-content class="mat-typography">
        <div>
            <p>
                {{ data.materialSerialNumber }}
            </p>
            <p>
                This dialog showcases the title, close, content and actions elements.
            </p>
        </div>
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
