/* You can add global styles to this file, and also import other style files */
html, body { 
    padding:0;
    margin: 0;
    height: 100%; 
}
body { 
    font-family: "Open Sans",sans-serif !important;
}
.mat-icon-button {
    outline: 0 !important;
}
.mat-flat-button {
    outline: 0 !important;
}
.mat-raised-button {
    outline: 0 !important;
}
.mat-fab {
    outline: 0 !important;
}
/* Importing Bootstrap SCSS file. */
